<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    
<body>

    <%- include('partials/header.ejs') %>

    <div id="root">
    </div>

    <div class='sumaTotal'>
    </div>

  

    <div class='sectionStarted'>

        <!-- <form action="/car/createCar" method="POST" enctype="multipart/form-data" class="Checkout">
            <input type="text" name="inputlocal" class="inputLocal"> -->
            <a type="submit"  class="Checkout" >Checkout</a>
        <!-- </form> -->
<!-- 
        <button type=""  class="prueba" >prueba</button> -->


    </div>

</body>
<script defer src="/js/carList.js"></script>

</html>