<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/2b2ce65092.js" crossorigin="anonymous"></script>
        <title>LogIn</title>
        <!--My CSS-->
        <link rel="stylesheet" href="/css/styleProduct.css">
    </head>

<body>

<!--inicio de header LOGO HAPPY CODING-->

<div class="logo">
    <a href="/">
    <img src="/images/Logo-PNG1.png"> </a>
</div>


<!-- BOTONES -->

  <div class="">
        <!-- enctype="multipart/form-data" -->
        <form action="/product/create" method="POST" enctype="multipart/form-data">
            <div class="">
                <div class="">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" id="name" name="name" placeholder="" class="form-input">
                </div>
                <div class="">
                    <label for="price" class="form-label">Precio del producto:</label>
                    <input type="number" id="price" name="price" placeholder="" class="form-input">
                </div>

                <div class="">
                    <label for="category" class="form-label">Categoría:</label>
                    <br>
                    <select name="category" id="category" class="form-input">
                        <option value="">Elegir</option>
                        <option value="1">T-shirt</option>
                        <option   option value="2">Socks</option>
                        <option value="3">Bags</option>
                        <option value="4">Hoodies</option>
                        <option value="5">Hats</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="description" class="form-label">Descipción:</label>
                    <br>
                    <textarea name="description" id="description" class="form-input"></textarea>
                </div>
                <div class="col-12">
                    <label for="image" class="form-label">Imagen:</label>
                    <input type="file" name="image" id="image" class="form-input">
                </div>
                <div class="col-12">
                    <button type="submit" class="">Guardar producto</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>