<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
<!--inicio de header LOGO HAPPY CODING-->

<%- include('partials/header.ejs') %>
<div class="MargenHoodies2">
    <div class="camisaCompra1" id="camisaCompra1">
        <%=user.username%>
    </div>


</div>
<!-- BOTONES -->
</body>
</html>